
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.ebox {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  
}

.ebutton {
   
   height: 53px;
    border: 2px solid;
    line-height: 21px;
    display: inline-block;
    padding: 19px 30px 13px 35px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms;
    letter-spacing: 1px;
    background:#bc9774;
    font-family: 'Roboto', sans-serif;
}
.ebutton:hover {
  background: white;
  color:#bc9774;
  border: solid #bc9774 2px;
  font-family: 'Roboto', sans-serif;
}

.eoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.eoverlay:target {
  visibility: visible;
  opacity: 1;
}

.epopup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.epopup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.epopup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.epopup .close:hover {
  color: #06D85F;
}
.epopup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .ebox{
    width: 70%;
  }
  .epopup{
    width: 70%;
  }
}